
#inloggen{
    margin-left: 10px;
   padding-left: 575px;
}

#logowebsite{
    width: 60px;
    height: 60px;
}

#zoekfunctie{
    padding-left: 50%;
}


#inloggenbutton{    
    padding-left: 10px;
    list-style-type: none;
}
