#container{
    position: relative;
}

#image {
    width: 200px;
    height: 100px;
    left: 0;
    top: 100px;
    margin-left: 50px;
    margin-right: 100px;
    position: absolute;
    z-index: 10;
}

#image2 {
    width: 200px;
    height: 100px;
    left: 250px;
    top: 100px;
    margin-left: 50px;
    margin-right: 100px;
    position: absolute;
    z-index: 10;
}

#image3 {
    width: 200px;
    height: 100px;
    left: 300px;
    top: 100px;
    margin-left: 50px;
    margin-right: 100px;
    position: absolute;
    z-index: 10;
}

#image4 {
    width: 200px;
    height: 100px;
    left: 550px;
    top: 100px;
    margin-left: 50px;
    margin-right: 100px;
    position: absolute;
    z-index: 10;
}

#image5 {
    width: 200px;
    height: 100px;
    left: 0;
    top: 500px;
    margin-left: 50px;
    margin-right: 100px;
    position: absolute;
    z-index: 10;
}

#image6 {
    width: 200px;
    height: 100px;
    left: 250px;
    top: 500px;
    margin-left: 50px;
    margin-right: 100px;
    position: absolute;
    z-index: 10;
}

#image7 {
    width: 200px;
    height: 100px;
    left: 300px;
    top: 500px;
    margin-left: 50px;
    margin-right: 100px;
    position: absolute;
    z-index: 10;
}

#image8 {
    width: 200px;
    height: 100px;
    left: 550px;
    top: 500px;
    margin-left: 50px;
    margin-right: 100px;
    position: absolute;
    z-index: 10;
}

#boat {
    
    position: relative;
}

/* image 1 */
.slide-tl {
    animation: slide-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-tl-reverse {
    animation: slide-tl2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/* image 2 */
.slide-tl2 {
    animation: slide-tl2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-tl-reverse2 {
    animation: slide-tl-reverse2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/* image 3 */
.slide-tl3 {
    animation: slide-tl3 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-tl-reverse3 {
    animation: slide-tl-reverse3 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/* image 4 */
.slide-tl4 {
    animation: slide-tl4 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-tl-reverse4 {
    animation: slide-tl-reverse4 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/* image 5 */
.slide-tl5 {
    animation: slide-tl5 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-tl-reverse5 {
    animation: slide-tl-reverse5 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/* image 6 */
.slide-tl6 {
    animation: slide-tl6 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-tl-reverse6 {
    animation: slide-tl-reverse6 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/* image 7 */
.slide-tl7 {
    animation: slide-tl7 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-tl-reverse7 {
    animation: slide-tl-reverse7 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/* image 8 */
.slide-tl8 {
    animation: slide-tl8 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-tl-reverse8 {
    animation: slide-tl-reverse8 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}



/* image 1 */
@keyframes slide-tl {
    0% {


        transform: translateY(0) translateX(-150px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(-100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}


@keyframes slide-tl-reverse {
    0% {

        transform: translateY(0) translateX(0) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(-100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

/* image 2 */
@keyframes slide-tl2 {
    0% {


        transform: translateY(0) translateX(-150px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(-100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}


@keyframes slide-tl-reverse2 {
    0% {

        transform: translateY(0) translateX(-150px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(-100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

/* image 3 */
@keyframes slide-tl3 {
    0% {


        transform: translateY(0) translateX(-50px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}


@keyframes slide-tl-reverse3 {
    0% {

        transform: translateY(0) translateX(-50px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

/* image 4 */
@keyframes slide-tl4 {
    0% {


        transform: translateY(0) translateX(-100px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}


@keyframes slide-tl-reverse4 {
    0% {

        transform: translateY(0) translateX(-100px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

/* image 5 */
@keyframes slide-tl5 {
    0% {


        transform: translateY(-300px) translateX(-150px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(-100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}


@keyframes slide-tl-reverse5 {
    0% {

        transform: translateY(-300px) translateX(-150px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(-100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

/* image 6 */
@keyframes slide-tl6 {
    0% {


        transform: translateY(-300px) translateX(-150px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(-100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}


@keyframes slide-tl-reverse6 {
    0% {

        transform: translateY(-300px) translateX(-150px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(-100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

/* image 7 */
@keyframes slide-tl7 {
    0% {


        transform: translateY(-300px) translateX(-50px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}


@keyframes slide-tl-reverse7 {
    0% {

        transform: translateY(-300px) translateX(-50px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

/* image 8 */
@keyframes slide-tl8 {
    0% {


        transform: translateY(-300px) translateX(-100px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}


@keyframes slide-tl-reverse8 {
    0% {

        transform: translateY(-300px) translateX(-100px) scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }

    100% {

        transform: translateY(-100px) translateX(100px) scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

div #wrapper{
    width: 200px;
    height: 100px;
    position: absolute;
    z-index: 10;
}

#nowrapper{
    width: 200px;
    height: 100px;
    position: absolute;
    z-index: 10;
}

#wrapper .text {
    position: relative;
    visibility:hidden;
    color: white;
    left: 10%;
    top: 40%;
    z-index: 20;
    }

    .text{
        visibility: hidden;
    }
    
    #wrapper:hover .text {
    visibility:visible;
    }
    .fade
    {
            opacity:1;
    }
    .fade:hover
    {
            opacity:0.5;
           
    }
