
@{
    ViewProductModel data = (ViewProductModel) ViewData["ProductModel"];
}
<link rel="stylesheet" href="~/css/view_product.css">
<div class="pageBackground">  
    <div class="row" id="productHeader">
        <div class="col-6">
            <h2>@data.Name</h2>
            <img src="~/images/boat.jpg" height="300" width="400" class="productImage"></img>
        </div>
        <div class="col-6">
            <div id="price">Prijs: @data.Price</div>
            <div id="category">Categorie: @data.Category</div>
            <button type="submit" class="CartBtn">Zet in Winkelwagen</button>
        </div>
    </div>
    <hr>
    <h3>Product eigenschappen</h3>
    <div class="row">
        
    </div>

</div>
